*.o
*.cmd
tags
.config*
*.bin
*.iso
*.img
*.syms
*.bc
*.ll

# ignore the user binary output location
/user/out
/root/*

include/config
.kconfig.d
include/autoconf.h
nautilus.secs
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
scripts/format_secs
scripts/format_syms
scripts/kconfig/conf
scripts/kconfig/lxdialog/lxdialog
scripts/kconfig/mconf
user/lib/ulib.a
