
config BASE_LIBC_COMPAT
  bool "Basic libc compatability"
  default y	
  depends on ALLOW_UNINTEGRATED
  help 
    Basic libc compatability layer

config DEBUG_BASE_LIBC_COMPAT
  bool "Debug basic libc compatability"
  depends on BASE_LIBC_COMPAT
  default n	
  help 
    Enable debugging output from the basic libc compatability layer

config BASE_LIBM_COMPAT
  bool "Basic libm compatability"
  default y	
  depends on ALLOW_UNINTEGRATED
  help 
    Basic libm compatability layer

config DEBUG_BASE_LIBM_COMPAT
  bool "Debug basic libm compatability"
  depends on BASE_LIBM_COMPAT
  default n	
  help 
    Enable debugging output from the basic libm compatability layer

config BASE_LINUX_COMPAT
  bool "Basic Linux user-level compatability layer"
  depends on BASE_LIBC_COMPAT
  default y
  help 
    Basic Linux user-level compatability layer

config DEBUG_BASE_LINUX_COMPAT
  bool "Debug basic Linux compatability"
  depends on BASE_LINUX_COMPAT
  default n	
  help 
    Enable debugging output from the basic Linux compatability layer

config BASE_PTHREAD_COMPAT
  bool "POSIX threads compatability layer"
  default y
  depends on BASE_LIBC_COMPAT && BASE_LINUX_COMPAT
  help 
    POSIX threads

config DEBUG_BASE_PTHREAD_COMPAT
  bool "Debug basic POSIX threads compatability layer"
  depends on BASE_PTHREAD_COMPAT
  default n	
  help 
    Enable debugging output from the basic POSIX threads compatability layer

